html {
  background-color: white;
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
}

body {
  background-color: #3C3E49;
  height: 100%;
  margin: 0;
}

.artist-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.fa-play-circle {
  color: #81D9DD;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.fa-stop-circle {
  color: #81D9DD;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.track {
  background-color: #282930;
  height: 50px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #353535;
  color: #F7F7F7;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  text-align: center;
}

.track-song-info {
  margin-right: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding-top: 2px;
}

.track-song-artist {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.track-song-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.heading {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
  max-width: 960px;
  width: 100%;
  /*background-color: #3C3E49;*/
}

#player-controls {
  color: #FFF;
  align-items: center;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
}

#player {
  align-items: center;
  background-color: #F2A374;
  bottom: 0;
  display: none;
  height: 44px;
  position: fixed;
  width: 100%;
  max-width: 960px;
}

#player-song-info {
  font-size: 12px;
  margin-left: 5px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
}

#player-artist {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#player-img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  margin-left: 2px;
  margin-top: 2px;
  width: 40px;
}

#player-title {
  color: #FBEAEA;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  background-color: #3C3E49;
  color: #81D9DD;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  font-weight: bold;
}

.search {
  background-color: #3C3E49;
  font-size: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

#search-again {
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
}

.search-again {
  font-size: 14px;
  font-weight: 300;
  height: 22px;
  width: 300px;
}

#search-again-button {
  background-color: #F2A374;
  border: none;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  padding: 7px 6px 6px 6px;
}

#search-box {
  border-radius: 0;
  height: 46px;
  max-width: 75vw;
  padding: 0 5px;
  width: 400px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  vertical-align: bottom;
}

#search-button {
  background-color: #81D9DD;
  border-width: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  margin: 0;
  vertical-align: bottom;
  width: 55px;
}

#search-icon {
  color: #F2A374;
  margin-left: 20px;
}

#subtitle {
  color: #FFFFFD;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
}

.heading-after-search {
  align-items: center;
  background-color: #3C3E49;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  position: fixed;
  top: 0;
  height: 50px;
}

.search-after-search {
  font-size: 14px;
  color: #F7F7F7;
  margin-top: 50px;
}

.track-playing {
  background-color: #6B6C77;
}

.fa-stop-circle {
  color: #F2A374;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .title-after-search {
    font-size: 20px;
    /*margin-top: 5px;*/
  }

  .mobile-search-again-container-hidden {
    display: none;
  }

  .mobile-search-again-container-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }


  #mobile-search-again-container {
    background-color: #3C3E49;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  #mobile-search-again {
    /*margin: 30px 0 0 15px;*/
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    font-size: 12px;
    padding-left: 3px;
  }

  #mobile-search-again-button {
    background-color: #F2A374;
    border: none;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 32px;
    margin-top: 10px;
  }

  #player-song-info {
    margin-left: 5px;

  }

  .search-again, .search-again-button {
    display: none;
  }

  .search-again-icon {
    color: #F2A374;
  }
}

@media screen and (min-width: 768px) {
  .search-again-icon, .mobile-search-again-container {
    display: none;
  }

  .heading-after-search {
    background-color: #3C3E49;
    padding: 0;
    position: fixed;
    top: 0;
    height: 90px;
  }

  .search-after-search {
    font-size: 16px;
    color: #F7F7F7;
    margin: 90px 0 30px 0;
  }

  .title-after-search {
    font-size: 40px;
  }

  .track:hover {
    background-color: #6B6C77;
  }

  #player-controls {
    font-size: 20px;
    width: 200px;
  }

  #player-img {
    margin-left: 80px;
    margin-right: 80px;
  }

  #player-song-info {
    font-size: 16px;
  }
}
